APP_ENV=dev
APP_SECRET=
APP_DEBUG=1

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?serverVersion=16&charset=utf8"
DB_SSL_MODE=disable

MESSENGER_TRANSPORT_DSN="doctrine://default?queue_name=events"

API_KEY_HASH=
